<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
   		<category
   			name="Spoken Compiler"
   			description="Commands related to the spoken compiler"
   			id="org.bxg.spokencompiler.eclipse.commands.category" />
   		<command
   			categoryId="org.bxg.spokencompiler.eclipse.commands.category"
   			name="Compile"
   			description="Compile the current file"
   			id="org.bxg.spokencompiler.eclipse.commands.compile" />
   		<command
   			categoryId="org.bxg.spokencompiler.eclipse.commands.category"
   			name="Process Audio File"
   			description="Process the selected wav file as speech input"
   			id="org.bxg.spokencompiler.eclipse.commands.processAudioFile" />
   		<command
   			categoryId="org.bxg.spokencompiler.eclipse.commands.category"
   			name="Start Dictation"
   			description="Start Dictating a Program"
   			id="org.bxg.spokencompiler.eclipse.commands.startDictation" />
   		<command
   			categoryId="org.bxg.spokencompiler.eclipse.commands.category"
   			name="Stop Dictation"
   			description="Stop Dictating and turn off the microphone"
   			id="org.bxg.spokencompiler.eclipse.commands.stopDictation" />
   		<command
   			categoryId="org.bxg.spokencompiler.eclipse.commands.category"
   			name="Restart Dictation"
   			description="Clear the buffer and restart the microphone"
   			id="org.bxg.spokencompiler.eclipse.commands.restartDictation" />
     <command
           categoryId="org.bxg.spokencompiler.eclipse.commands.category"
           description="Process all wav files found under the selected folder"
           id="org.bxg.spokencompiler.eclipse.commands.processAllFiles"
           name="Process All Files">
     </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
   			<menu id="org.bxg.spokencompiler.eclipse.menus.spokenProgramMenu" label="Spoken Programming">
   				<command 
   					commandId="org.bxg.spokencompiler.eclipse.commands.startDictation"
   					id="org.bxg.spokencompiler.eclipse.menus.startDictationMenu"
   					icon="icons/microphone.png" />
   				<command 
   					commandId="org.bxg.spokencompiler.eclipse.commands.stopDictation"
   					id="org.bxg.spokencompiler.eclipse.menus.stopDictationMenu"
   					icon="icons/microphone-off.png" />
   				<command 
   					commandId="org.bxg.spokencompiler.eclipse.commands.restartDictation"
   					id="org.bxg.spokencompiler.eclipse.menus.restartDictationMenu"
   					icon="icons/restart.png" />
   				<command
             commandId="org.bxg.spokencompiler.eclipse.commands.processAudioFile"
             icon="icons/audio.png"
             id="org.bxg.spokencompiler.eclipse.menus.processAudioFileMenu">
       </command>
       <command
             commandId="org.bxg.spokencompiler.eclipse.commands.processAllFiles"
             id="org.bxg.spokencompiler.eclipse.menus.processAllFilesMenu">
       </command>
   			</menu>
   		</menuContribution>
   		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
   			<toolbar id="org.bxg.spokencompiler.eclipse.toolbars.spokenProgram" label="Spoken Programming">
   				<command 
   					commandId="org.bxg.spokencompiler.eclipse.commands.processAudioFile"
   					id="org.bxg.spokencompiler.eclipse.menus.processAudioFileMenu"
   					icon="icons/audio.png" />
   				<command 
   					commandId="org.bxg.spokencompiler.eclipse.commands.startDictation"
   					id="org.bxg.spokencompiler.eclipse.toolbars.startDictation"
   					icon="icons/microphone.png" />
   				<command
          		   	commandId="org.bxg.spokencompiler.eclipse.commands.stopDictation"
             		icon="icons/microphone-off.png"
             		id="org.bxg.spokencompiler.eclipse.toolbars.stopDictation">
	       		</command>
   				<command
             		commandId="org.bxg.spokencompiler.eclipse.commands.restartDictation"
             		icon="icons/restart.png"
             		id="org.bxg.spokencompiler.eclipse.toolbars.restartDictation" />
   			</toolbar>
   		</menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
   		<handler
   			commandId="org.bxg.spokencompiler.eclipse.commands.startDictation"
   			class="org.bxg.spokencompiler.eclipse.handlers.StartDictation">
   		<enabledWhen>
              <test
                    property="org.bxg.spokencompiler.eclipse.notListening">
              </test>
        </enabledWhen>
   		</handler>
   		<handler
           class="org.bxg.spokencompiler.eclipse.handlers.StopDictation"
           commandId="org.bxg.spokencompiler.eclipse.commands.stopDictation">
        <enabledWhen>
              <test
                    property="org.bxg.spokencompiler.eclipse.isListening">
              </test>
        </enabledWhen>
     </handler>
   		<handler
           class="org.bxg.spokencompiler.eclipse.handlers.RestartDictation"
           commandId="org.bxg.spokencompiler.eclipse.commands.restartDictation">
     </handler>
   		<handler
           class="org.bxg.spokencompiler.eclipse.handlers.ProcessAudioFile"
           commandId="org.bxg.spokencompiler.eclipse.commands.processAudioFile">
        <enabledWhen>
           <with
                 variable="selection">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       ifEmpty="false"
                       operator="and">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="wav">
                       </test>
                    </adapt>
                 </iterate>
              </and>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.bxg.spokencompiler.eclipse.handlers.ProcessAllFiles"
           commandId="org.bxg.spokencompiler.eclipse.commands.processAllFiles">
     </handler>
   </extension>
   <extension
      id="SpokenBuilder" name="Spoken Compiler Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run 
            class="org.bxg.spokencompiler.eclipse.builders.SpokenBuilder">
            <parameter name="optimize" value="true" />
            <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
   <extension
      id="SpokenBuilderNature"
      name="Spoken Compiler Builder"
      point="org.eclipse.core.resources.natures">
      <builder id="org.bxg.spokencompiler.eclipse.SpokenBuilder" />
      <runtime>
         <run class="org.bxg.spokencompiler.eclipse.builders.SpokenBuilderNature" />
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.bxg.spokencompiler.eclipse.views.SpokenLangView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.bxg.spokencompiler.eclipse"
            name="Spoken Programming">
      </category>
      <view
            allowMultiple="false"
            category="org.bxg.spokencompiler.eclipse"
            class="org.bxg.spokencompiler.eclipse.views.SpokenLangView"
            icon="icons/microphone.png"
            id="org.bxg.spokencompiler.eclipse.views.SpokenLangView"
            name="Spoken Programming">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.bxg.spokencompiler.eclipse.propertyTester.ListeningTester"
            id="org.bxg.spokencompiler.eclipse.listeningTester"
            namespace="org.bxg.spokencompiler.eclipse"
            properties="isListening, notListening"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
