<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.example.helloworld.actionSet">
         <menu
               label="Spoken &amp;LanguageMenu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Start Dictation"
               icon="icons/sample.gif"
               class="com.example.helloworld.actions.SampleAction"
               tooltip="Start Speech Listener"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.example.helloworld.actions.SampleAction">
         </action>
         <action
               label="&amp;Process Audio File"
               icon="icons/sample.gif"
               class="com.example.helloworld.actions.ProcessAudioFile"
               tooltip="Process the selected audio file"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.example.helloworld.actions.ProcessAudioFile"
               enablesFor="1">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands">
   		<category
   			name="Spoken Compiler"
   			description="Commands related to the spoken compiler"
   			id="com.example.helloworld.commands.category" />
   		<command
   			categoryId="com.example.helloworld.commands.category"
   			name="Compile"
   			description="Compile the current file"
   			id="com.example.helloworld.commands.compile" />
   </extension>
   <extension
      id="SpokenBuilder" name="Spoken Compiler Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run 
            class="com.example.helloworld.builders.SpokenBuilder">
            <parameter name="optimize" value="true" />
            <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
   <extension
      id="SpokenBuilderNature"
      name="Spoken Compiler Builder"
      point="org.eclipse.core.resources.natures">
      <builder id="com.example.helloworld.SpokenBuilder" />
      <runtime>
         <run class="com.example.helloworld.builders.SpokenBuilderNature" />
      </runtime>
   </extension>
</plugin>
